$--color-white: #fff;
$--color-black: #000;
/* Colors
-------------------------- */
$--color-icon: #555;
$--color-icon-noactive: rgba($--color-icon, .8);
$--color-background: #f5f5f5;

/* Scrollbar
-------------------------- */
$--color-scrollbar: rgba(#555, .5);

/* Border
-------------------------- */
$--border-radius-base: 4px;
$--border-radius-small: 2px;
