html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* 滚动条背景、宽度 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  border-radius: 6px;
  background: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: $--color-scrollbar;
}
  